.logo 
{
    padding: 20px 0;
}
nav 
{
    background-color:var(--secondary-color);
}

nav ul li  
{
    display: inline-block;
    padding: 12px 44px 12px 0;
}
nav ul li a 
{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}