.slider-2 
{
    height: 500px;
    width: 1300px;
    
}
.slider-2 .slider-2-img 
{
    width: 15%;
    height: 80%;
    float: left;
    position: relative;
}
.slider-2 .slider-2-img img 
{
    width: 150%;
    position: absolute;
    bottom: 60%;
    right: 70%;
    transform: translate(75%,80%);
    margin: 100px -50px 50px auto;
}
.slider-2 .slider-2-body 
{
    width: 65%;
    height: 100%;
    float: right;
    position: relative;
    padding-bottom:15px ;
    text-align: initial;
}
.slider-2 .slider-2-body span 
{
    color: var(--brand-color);
}
.slider-2 .slider-2-body .slider-2-body-child p 
{
    font-size: 16px;
    color: var(--text-color);
    padding-bottom:15px ;
}